/* work sans font from google */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

  * {
    font-family: 'Work Sans', sans-serif;
  }
  header{
    background-color: antiquewhite;
    padding: 50px 240px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }
  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
  }
  nav li a{
    text-decoration: none;
  }
  .banner{

  }
  .banner-title{
    
  }